<li class="list-group-item">
    <div class="card border-0 rounded-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    <p class="card-text mb-0" id="user">User</p>
                    <p class="text-muted" id="time_comm">2 ago</p>
                    <p class="text-muted mb-0" id="comment_text">comment text</p>
                    <button class="btn btn-outline-success" id="show_button">Show comments</button>
            </li>
            <li class="list-group-item">
                <ul class="list-group list-group-flush" id="comments">
                    
                </ul>
            </li>
        </ul>
    </div>
</li>